.box {
    padding: 10px;
    margin: 20px;
    border: 1px solid blueviolet;
    background-color: darkgray;
}

.round {
    border-radius: 50%;
    padding: 5px;
    background-color: burlywood;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
}

.hide {
    display: none;
}